@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Courier+Prime&family=Darker+Grotesque&family=Inter:wght@300;400&family=Kanit:wght@300&family=Montserrat:wght@500&family=Poppins:wght@100;300;500&family=Press+Start+2P&display=swap');

*{
    /* background: rgb(31,136,164);
    background: radial-gradient(circle, rgba(31,136,164,1) 0%, rgba(5,42,76,1) 100%); */
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

body{
    background-color: #0f0f10;
}


.sobre-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
}

.sobre-titulo{
  padding-left: 240px;
  padding-top: 150px;
}

.sobre-titulo h1{
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
}

.sobre-texto{
  margin-left: 100px;
  margin-right: 90px;
  margin-top: 20px;
}

.sobre-texto p{
  padding-top: 5px;
  color: #FFFFFF;
  text-align: center;
}

.sobre-imagem-caixa{
  width: 300px;
  margin-right: 300px;
}

.img-sobre{
  width: 450px;
  height: 450px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*mobile*/
@media only screen and (max-width: 500px) and (min-width: 300px){
  .sobre-container{
    display: flex;
    flex-direction: column;
}

  .sobre-titulo{
    padding-bottom: 30px;
    padding-left: 130px;
    padding-top: 75px;
    padding-right: 50px;
  }
  
  .sobre-titulo h1{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
  }
  
  .sobre-texto{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 40px;
    /* padding-bottom: 10px; */
  }
  
  .sobre-texto p{
    padding-top: 4px;
    color: #FFFFFF;
    text-align: justify;
    padding-bottom: 10px;
  }
  
  .sobre-imagem-caixa{
    margin-left: 60px;
    width: 210px;
  }
  
  .img-sobre{
    display: flex;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

